body {
    background-color: #9cc3d5ff;
    font-family: "Raleway", sans-serif;
    min-width: 310;
    text-align: center;
}


/* Game Area*/
.game-area {
    background-color: #0063B2FF;
    color: #cde2f6;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.hand-selection {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: flex-end;
}

p {

    align-self: center;
    font-size: 22px;
}


/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: black;
    margin: 3px;

}

.btn:focus {
    outline: none;
}

.scores span {
    color: rgb(0, 0, 0)
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Media queries */

@media (max-width: 650px) {
    h1 {
        font-size: medium;
    }

}



@media (max-width: 510px) {


    .game-area {
        height: 100vh;
        max-height: 550px;
        font-size: 12px;
    }

}


@media (max-width: 450px) {


    .hand-selection {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .btn {
        width: 200px;
        height: 50px;


    }

    h1 {
        font-size: small;
    }


    p {
        font-size: 12px;
    }

}


@media (max-width: 356px) {

    h1 {
        font-size: x-small;
    }

    .game-area {
        font-size: x-small;
        max-height: 500px;

    }

    .btn {
        width: 180px;
        height: 32px;
    }


}

@media (max-width: 280px) {



    .btn {
        width: 170px;
        height: 25px;
    }


}